<% if @ticket.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors prevented the ticket from being saved</p>
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @ticket do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 8, class: "form-control" %>
  </div>

    <ul class="matrix">
      <li class="cell">
        <input type="radio" name="priority" value="1">
        <%= f.label "High importance", class: "importance" %>
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="2">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="3">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="4">
        <%= f.label "Medium importance", class: "importance" %>
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="5">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="6">
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="7">
        <%= f.label "Low importance", class: "importance" %>
        <%= f.label "Low urgency", class: "urgency" %>
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="8">
        <%= f.label "Medium urgency", class: "urgency" %>
      </li>
      <li class="cell">
        <input type="radio" name="priority" value="9">
        <%= f.label "High urgency", class: "urgency" %>
      </li>
    </ul>



<div class="text-center">
  <%= f.submit "Create Ticket", class: "btn btn-primary" %>
  <% end %>

  <p><%= link_to "Back to tickets listing", tickets_path %></p>
</div>

